hr {
margin: 0;
}

.rodape {
    background-color: var(--cor-rodape);
    padding: 2em 1.5em;
   
}

.titulo__rodape {
    color: var(--preto);
}

.secao-links__rodape {
    display: none;
}

.lista__rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-between;
        padding: 2em 2.5em;
    }

    .titulo_rodape {
        font-size: 24px;
    }

    .lista__rodape {
        display: block;
        font-size: 14px;

    }

    .lista-rodape__link  {
        margin: 0 .5em;
        font-weight: 400;
        text-decoration: none;
        color: var(--cinza-escuro);
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    
}

@media screen and (min-width: 1728px) {

    .lista__rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }
    
}