.topicos {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 1.5em 0;
}

.titulo__topicos {
    font-weight: 300;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.lista__topicos {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.item__topicos {
    margin: 2em .5em; 
}

.link__topicos {
    background-color: var(--titulo-topicos);    
    
    padding: 1em 1.5em;
    
    color: var(--branco);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .titulo__topicos {
        font-size: 24px;
        font-weight: 200;
    }

    .link__topicos {
        font-size: 24px;
    }

    .lista__topicos {
        justify-content: center;
    }

    .item__topicos {
        margin: 2.5em 1em;
    }

    .item__topicos:nth-child(1) {
        order: 1;
    }
    .item__topicos:nth-child(2) {
        order: 3;
    }
    .item__topicos:nth-child(3) {
        order: 4;
    }
    .item__topicos:nth-child(4) {
        order: 5;
    }
    .item__topicos:nth-child(5) {
        order: 6;
    }
    .item__topicos:nth-child(6) {
        order: 8;
    }
    .item__topicos:nth-child(7) {
        order: 2;
    }
   
    .item__topicos:nth-child(8) {
        order: 7;
    }
    
}

@media screen and (min-width: 1728px) {
    .titulo__topicos {
        font-size: 32px;
        font-weight: 200;
    }

    .lista__topicos {
      padding: 3em 20vw;
    }
    
}